/* assets/css/_layout.scss */

body {
  background: {{ site.data.style.background_color }};
  color: {{ site.data.style.text.body }};
  padding: {{ site.data.style.spacing.base }};
}

h1, h2, h3 {
  color: {{ site.data.style.text.header }};
}

button {
  background: {{ site.data.style.secondary_color }};
  padding: {{ site.data.style.spacing.large }};
}
